body {
    overflow: hidden;
}

.Home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home > img {
    height: auto;
    position: relative;
    z-index: -1;
}

.name {
    position: absolute;
    text-align: center;
    color: white;
}

.name > h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.name > h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}

@media screen and (max-width: 720px) {
    .Home {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 420px) {
    .Home {
        max-width: 100%;
        overflow-x: hidden;
    }
}
